* {
    margin: 0;
}

body {
    background: black !important;
    color: white !important;
}

.content {
    height: 100% !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.age {
    font-size: 3vw;
}

.as-days {
    font-size: 2vw;
}

.static-footer {
    position: absolute;
    bottom: 6px;
    left: 6px;
}

.static-link {
    color: white !important;
    text-decoration: none !important;
}