<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet">
    <title>How old is AAC5 today?</title>
    <meta name="theme-color" content="#000000">
    <meta property="og:title" content="How old is AAC5 today?">
    <meta property="og:site_name" content="howoldisaac5.today">
    <meta property="description" th:content="${'AAC5 is ' + fullDate + ' old!'}">
    <meta property="og:description" th:content="${'AAC5 is ' + fullDate + ' old!'}">
    <meta property="twitter:description" th:content="${'AAC5 is ' + fullDate + ' old!'}">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="How old is AAC5 today?">
</head>
<body class="content">
<p class="age">AAC 5 is [[${fullDate}]] old today.</p>
<p class="as_days">(That's [[${days}]] days! Why are you still using it? 😂)</p>
</body>
</html>